body {
  background-color: #ff99006b;
}
.jumbotron {
  font-style: italic;
  color: 	#0a6302;
  text-align: center;
}
.history {
  text-align: center;
  color: #880000;
}
h3 {
  text-decoration: underline;
  font-family :fantasy;
}
.btn-default {
  width: center;
  color: 	#B22222;
}
.form-control {
  color:#0000FF;
  font-family: fantasy;;
}
.pizzapic {
  width: 50%;
  float: left;
}
#order {
  padding: 35px;
  font-weight: bold;
}
img {
  padding: 10px;
}